:root{
    --color-pink: rgb(188, 254, 241);
    --border-pink: rgb(10, 94, 77);
    --shadow-purple: rgba(56, 8, 56, 0.5);

    --color-hover: rgb(162, 216, 184);
}

html, body{
  margin: 0;
  height: 100%;
}

body{
  background: url("shadow.png") no-repeat center center;
  min-height: 100vh;   /* fill entire screen */
  overflow: hidden; /* hides scrollbars */
  background-size: 100% 100%;;
}

img {
  max-width: 100%;  /* Limits the width to 100% of the parent container */
  height: auto;     /* Keeps the aspect ratio intact */
  object-fit: cover; 
}

h1{

  
    font-family: "Uncial Antiqua", serif;

    text-align: center;

    color:rgb(68, 202, 108);
}

.button-container
{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;

    gap: 3%;
    row-gap: 15%;

    height: 100px;
    margin: 5%;
}

button{
    width: 15%;
    height: 75%;

    font-family: "Uncial Antiqua", serif;

    background-color: var(--color-pink);
    border-color: var(--border-pink);

    border-radius: 8px;
    box-shadow: 4px 4px 8px var(--shadow-purple); /* hor offset, vert offset, blur, color + opacity*/
}

button:hover{
  background-color: var(--color-hover);
  transform: scale(1.05);
}

@media (max-width: 600px) {
  button {
    width: 100%;   /* full width on small screens */
  }
}
