:root{
    --color-pink: rgb(188, 254, 241);
    --border-pink: rgb(10, 94, 77);
    --shadow-purple: rgba(56, 8, 56, 0.5);

    --color-hover: rgb(162, 216, 189);
}

html, body{
  margin: 0;
  height: 100%;
}

body{
  background: url("hk2.png") no-repeat center center;
  min-height: 100vh;   /* fill entire screen */
  overflow: hidden; /* hides scrollbars */
  background-size: 100% 100%;;
}

img {
  max-width: 100%;  /* Limits the width to 100% of the parent container */
  height: auto;     /* Keeps the aspect ratio intact */
  object-fit: cover; 
}

h1{
    font-family: "Uncial Antiqua", serif;
    font-style: italic;
    font-size: 2.3rem;
    
    margin-top: 5%; 
    text-align: center;

    background: linear-gradient(180deg, rgb(4, 156, 146), rgb(3, 78, 10));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

.button-container
{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;

    gap: 12px;
    row-gap: 20px;

    height: 100px;
    margin: 10px;
}

button{
    width: 300px;
    height: 100px;
    padding: 12px;

    font-family: "Uncial Antiqua", serif;

    background-color: var(--color-pink);
    border-color: var(--border-pink);

    border-radius: 8px;
    box-shadow: 4px 4px 8px var(--shadow-purple); /* hor offset, vert offset, blur, color + opacity*/
}

button:hover{
  background-color: var(--color-hover);
  transform: scale(1.05);
}

@media (max-width: 600px) {

  .button-container {
    flex-direction: column;
    align-items: stretch;
  }

  button {
    width: 100%;   /* full width on small screens */
  }

  body {
    background: url("hk2mobile.png") no-repeat center center;
  }
  
}

@media (max-width: 900px){
  body {
     background: url("hk2.png");
  }
}
